<div class='span12'>
  <button class='btn btn-primary' id="poll" style='margin-bottom:10px'>Get Play</button>
  <table class='table table-striped' id="game-summary">
    <tr>
      <th>Team</th>
      <th>Game Clock</th>
      <th>Play</th>
      <th>Down</th>
      <th>ToGo</th>
      <th>Yardline</th>
    </tr>
  </table>
</div>